In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("20181.csv",skiprows=1,low_memory=False)
df2 = pd.read_csv("20182.csv",skiprows=1,low_memory=False)
df3 = pd.read_csv("20183.csv",skiprows=1,low_memory=False)
df4 = pd.read_csv("20184.csv",skiprows=1,low_memory=False)

In [3]:
train = pd.concat([df1,df2,df3,df4],axis = 0)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495250 entries, 0 to 128413
Columns: 145 entries, id to settlement_term
dtypes: float64(107), object(38)
memory usage: 551.7+ MB

In [5]:
train.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,30000.0,30000.0,30000.0,36 months,7.34%,930.99,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,34825.0,34825.0,34825.0,60 months,12.61%,785.45,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2600.0,2600.0,2600.0,36 months,7.96%,81.43,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,20000.0,20000.0,20000.0,60 months,9.92%,424.16,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,17000.0,17000.0,17000.0,60 months,20.39%,454.10,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
train.drop(["id","member_id"],axis=1,inplace=True)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495250 entries, 0 to 128413
Columns: 143 entries, loan_amnt to settlement_term
dtypes: float64(106), object(37)
memory usage: 544.1+ MB

In [8]:
train = train.dropna(how="all")

In [9]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,30000.0,30000.0,30000.0,36 months,7.34%,930.99,A,A4,Owner,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,34825.0,34825.0,34825.0,60 months,12.61%,785.45,C,C1,Collision Technician,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2600.0,2600.0,2600.0,36 months,7.96%,81.43,A,A5,Occupational Therapist,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,20000.0,20000.0,20000.0,60 months,9.92%,424.16,B,B2,Sr. Education Specialist,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,17000.0,17000.0,17000.0,60 months,20.39%,454.10,D,D4,Independent Business Owner,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
train = train.dropna(how="all",axis=1)

In [14]:
d_l = (train.isnull().sum()>100000)

In [16]:
for i in d_l.keys():
    if d_l[i] == True:
        train.drop([i],axis=1,inplace=True)

In [25]:
for col in train.select_dtypes(include=['object']).columns:
    print ("Column {} has {} unique instances".format( col, len(train[col].unique())) )

Column term has 2 unique instances
Column int_rate has 110 unique instances
Column grade has 7 unique instances
Column sub_grade has 35 unique instances
Column emp_title has 129450 unique instances
Column emp_length has 12 unique instances
Column home_ownership has 4 unique instances
Column verification_status has 3 unique instances
Column issue_d has 12 unique instances
Column loan_status has 7 unique instances
Column pymnt_plan has 2 unique instances
Column purpose has 13 unique instances
Column title has 12 unique instances
Column zip_code has 897 unique instances
Column addr_state has 50 unique instances
Column earliest_cr_line has 684 unique instances
Column revol_util has 1137 unique instances
Column initial_list_status has 2 unique instances
Column last_pymnt_d has 15 unique instances
Column next_pymnt_d has 5 unique instances
Column last_credit_pull_d has 17 unique instances
Column application_type has 2 unique instances
Column hardship_flag has 2 unique instances
Column disbursement_method has 2 unique instances
Column debt_settlement_flag has 2 unique instances

In [26]:
train.drop(["emp_title"],axis=1,inplace=True)

In [29]:
train.drop(["revol_util"],axis=1,inplace=True)

In [30]:
train.drop(["zip_code"],axis=1,inplace=True)

In [35]:
cor = train.corr()

In [56]:
train.int_rate = train.int_rate.astype("float").round(2)

In [58]:
train.last_credit_pull_d.value_counts()

Feb-2019    462774
Jan-2019      8695
Dec-2018      5247
Nov-2018      4407
Oct-2018      3698
Sep-2018      2535
Aug-2018      2109
Jul-2018      2107
May-2018       956
Apr-2018       726
Mar-2018       611
Jun-2018       459
Feb-2018       446
Jan-2018       395
Dec-2017        70
Nov-2017         1
Name: last_credit_pull_d, dtype: int64

In [71]:
train.last_credit_pull_d = train.last_credit_pull_d.fillna("Feb-2019")

In [72]:
train["last_credit_pull_d_month"] = train.last_credit_pull_d.apply(lambda x:x.split("-")[0])
train["last_credit_pull_d_year"] = train.last_credit_pull_d.apply(lambda x:x.split("-")[1])

In [81]:
train.issue_d.value_counts()

May-2018    46311
Oct-2018    46305
Aug-2018    46079
Jul-2018    43089
Apr-2018    42928
Nov-2018    41973
Jun-2018    41533
Dec-2018    40134
Sep-2018    39026
Mar-2018    38771
Jan-2018    36347
Feb-2018    32746
Name: issue_d, dtype: int64

In [82]:
train["loan_month"] = train.issue_d.apply(lambda x:x.split("-")[0])
train["loan_year"] = train.issue_d.apply(lambda x:x.split("-")[1])

In [84]:
def getmonth(x):
    if x == "May":
        return 5
    if x == "Oct":
        return 10
    if x == "Aug":
        return 8
    if x == "Jul":
        return 7
    if x == "Apr":
        return 4
    if x == "Nov":
        return 11
    if x == "Dec":
        return 12
    if x == "Sep":
        return 9
    if x == "Mar":
        return 3
    if x == "Jan":
        return 1
    if x == "Feb":
        return 2
    if x == "Jun":
        return 6

In [85]:
train["last_credit_pull_d_month"] = train.last_credit_pull_d_month.apply(lambda x :getmonth(x))

In [87]:
train["loan_month"] = train.loan_month.apply(lambda x:getmonth(x))

In [91]:
train["last_credit_pull_d_year"] = train.last_credit_pull_d_year.apply(lambda x:int(x))

In [92]:
train["loan_year"] = train.loan_year.apply(lambda x:int(x))

In [93]:
train["loan_last_start"] = train["last_credit_pull_d_month"] - train["loan_month"] + 12 * (train["last_credit_pull_d_year"]-train["loan_year"])

In [94]:
train.head(3)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag,last_credit_pull_d_month,last_credit_pull_d_year,loan_month,loan_year,loan_last_start
0,30000.0,30000.0,30000.0,36 months,7.34,930.99,A,A4,3 years,OWN,...,91000.0,40690.0,N,Cash,N,1,2019,3,2018,10
1,34825.0,34825.0,34825.0,60 months,12.61,785.45,C,C1,2 years,MORTGAGE,...,33900.0,94365.0,N,Cash,N,2,2019,3,2018,11
2,2600.0,2600.0,2600.0,36 months,7.96,81.43,A,A5,3 years,MORTGAGE,...,10500.0,62185.0,N,Cash,N,2,2019,3,2018,11

In [95]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495242 entries, 0 to 128411
Columns: 104 entries, loan_amnt to loan_last_start
dtypes: float64(78), int64(5), object(21)
memory usage: 406.7+ MB

In [96]:
train.loan_status.value_counts()

Current               437318
Fully Paid             40240
Charged Off             6942
Late (31-120 days)      6509
In Grace Period         2901
Late (16-30 days)       1323
Default                    9
Name: loan_status, dtype: int64

In [97]:
def getlabel(x):
    if x == "Late (31-120 days)" or x == "Late (16-30 days)":
        return 1
    else:
        return 0

In [98]:
train["label"] = train.loan_status.apply(lambda x:getlabel(x))

In [99]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495242 entries, 0 to 128411
Columns: 105 entries, loan_amnt to label
dtypes: float64(78), int64(6), object(21)
memory usage: 410.5+ MB

In [100]:
train.pymnt_plan.value_counts()

n    495140
y       102
Name: pymnt_plan, dtype: int64

In [101]:
train.purpose.value_counts()

debt_consolidation    259642
credit_card           127702
other                  35018
home_improvement       32748
major_purchase         11622
medical                 6622
house                   5430
car                     4979
small_business          4583
vacation                3501
moving                  3115
renewable_energy         275
wedding                    5
Name: purpose, dtype: int64

In [102]:
train.title.value_counts()

Debt consolidation         259642
Credit card refinancing    127702
Other                       35023
Home improvement            32748
Major purchase              11622
Medical expenses             6622
Home buying                  5430
Car financing                4979
Business                     4583
Vacation                     3501
Moving and relocation        3115
Green loan                    275
Name: title, dtype: int64

In [103]:
train.addr_state.value_counts()

CA    67267
TX    40901
NY    39595
FL    37387
IL    19674
NJ    17808
GA    16396
OH    16037
PA    15999
NC    13631
VA    12960
MI    12595
AZ    12149
MD    12055
MA    11187
CO    11112
WA    10280
IN     8377
TN     8192
MN     8091
CT     7954
MO     7859
NV     7615
WI     6560
SC     6421
OR     6033
AL     5604
LA     5195
KY     4801
OK     4597
KS     3934
AR     3810
UT     3160
MS     3093
WV     2826
NM     2545
NH     2470
NE     2395
RI     2265
HI     2081
ID     1746
ME     1602
DE     1449
MT     1345
VT     1156
ND     1050
AK     1050
SD      988
DC      983
WY      962
Name: addr_state, dtype: int64

In [104]:
train.earliest_cr_line.value_counts()

Aug-2006    4265
Aug-2005    3964
Sep-2005    3963
Aug-2007    3721
Sep-2004    3674
Sep-2006    3556
May-2006    3380
Aug-2004    3346
Jun-2006    3303
Oct-2005    3276
Jul-2006    3274
Sep-2003    3231
Jun-2005    3223
Nov-2005    3219
Mar-2006    3208
Oct-2004    3204
Aug-2003    3161
Oct-2006    3130
Nov-2004    3128
Jul-2005    3011
Nov-2006    3010
Apr-2006    2965
Dec-2005    2944
Mar-2005    2938
Jul-2004    2935
Oct-2003    2931
Dec-2004    2930
Mar-2007    2897
Jul-2003    2893
May-2005    2849
            ...
Jun-1962       2
May-1963       2
Sep-1961       2
Jan-1954       2
Jul-1961       2
Jul-1960       2
Aug-1958       2
Jan-1953       1
Oct-1962       1
Sep-1962       1
Dec-1960       1
Apr-1957       1
May-1960       1
Feb-1961       1
Jun-1959       1
Mar-1954       1
Dec-1947       1
Aug-1959       1
Mar-1959       1
Jul-1962       1
Apr-1955       1
Apr-1960       1
Apr-1962       1
Apr-1959       1
Jan-1957       1
Jul-1950       1
Jun-1956       1
Feb-1958       1
Feb-1962       1
Aug-1962       1
Name: earliest_cr_line, Length: 684, dtype: int64

In [105]:
train["early_year"] = train.earliest_cr_line.apply(lambda x : int(x.split("-")[1]))

In [106]:
train["long_year"] = 2019 - train["early_year"]

In [107]:
train.head(2)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,disbursement_method,debt_settlement_flag,last_credit_pull_d_month,last_credit_pull_d_year,loan_month,loan_year,loan_last_start,label,early_year,long_year
0,30000.0,30000.0,30000.0,36 months,7.34,930.99,A,A4,3 years,OWN,...,Cash,N,1,2019,3,2018,10,0,2009,10
1,34825.0,34825.0,34825.0,60 months,12.61,785.45,C,C1,2 years,MORTGAGE,...,Cash,N,2,2019,3,2018,11,0,2003,16

In [108]:
train.initial_list_status.value_counts()

w    427183
f     68059
Name: initial_list_status, dtype: int64

In [110]:
train.last_pymnt_d.value_counts()

Feb-2019    435930
Jan-2019     15616
Dec-2018      7005
Nov-2018      6629
Oct-2018      6245
Aug-2018      5006
Sep-2018      4833
Jul-2018      3846
Jun-2018      3153
May-2018      2420
Apr-2018      1617
Mar-2018      1309
Feb-2018       736
Jan-2018       258
Name: last_pymnt_d, dtype: int64

In [111]:
train.next_pymnt_d.value_counts()

Mar-2019    447915
Feb-2019       103
Apr-2019        41
Dec-2018         1
Name: next_pymnt_d, dtype: int64

In [112]:
train.drop(["next_pymnt_d"],axis=1,inplace=True)

In [113]:
train.last_credit_pull_d.value_counts()

Feb-2019    462780
Jan-2019      8695
Dec-2018      5247
Nov-2018      4407
Oct-2018      3698
Sep-2018      2535
Aug-2018      2109
Jul-2018      2107
May-2018       956
Apr-2018       726
Mar-2018       611
Jun-2018       459
Feb-2018       446
Jan-2018       395
Dec-2017        70
Nov-2017         1
Name: last_credit_pull_d, dtype: int64

In [114]:
train.application_type.value_counts()

Individual    426257
Joint App      68985
Name: application_type, dtype: int64

In [115]:
train.hardship_flag.value_counts()

N    495111
Y       131
Name: hardship_flag, dtype: int64

In [116]:
train.disbursement_method.value_counts()

Cash         423884
DirectPay     71358
Name: disbursement_method, dtype: int64

In [117]:
train.debt_settlement_flag.value_counts()

N    494866
Y       376
Name: debt_settlement_flag, dtype: int64

In [118]:
train.drop(["earliest_cr_line","early_year"],axis=1,inplace=True)

In [119]:
train.head(2)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,hardship_flag,disbursement_method,debt_settlement_flag,last_credit_pull_d_month,last_credit_pull_d_year,loan_month,loan_year,loan_last_start,label,long_year
0,30000.0,30000.0,30000.0,36 months,7.34,930.99,A,A4,3 years,OWN,...,N,Cash,N,1,2019,3,2018,10,0,10
1,34825.0,34825.0,34825.0,60 months,12.61,785.45,C,C1,2 years,MORTGAGE,...,N,Cash,N,2,2019,3,2018,11,0,16

In [121]:
train.emp_length.value_counts()

10+ years    160382
2 years       44747
< 1 year      43627
3 years       40629
1 year        33167
4 years       31262
5 years       30854
6 years       21977
7 years       17961
8 years       16027
9 years       12622
Name: emp_length, dtype: int64

In [123]:
train.emp_length = train.emp_length.fillna("10 years")

In [124]:
def getwork(x):
    if "+" in x:
        return 10
    else:
        if "<" in x:
            return 0
        else:
            return int(x.split(" ")[0])

In [125]:
train["work_long"] = train.emp_length.apply(lambda x : getwork(x))

In [126]:
train.head(1)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,disbursement_method,debt_settlement_flag,last_credit_pull_d_month,last_credit_pull_d_year,loan_month,loan_year,loan_last_start,label,long_year,work_long
0,30000.0,30000.0,30000.0,36 months,7.34,930.99,A,A4,3 years,OWN,...,Cash,N,1,2019,3,2018,10,0,10,3

In [127]:
train.drop(["emp_length"],axis=1,inplace=True)

In [128]:
for col in train.select_dtypes(include=['object']).columns:
    print ("Column {} has {} unique instances".format( col, len(train[col].unique())) )

Column term has 2 unique instances
Column grade has 7 unique instances
Column sub_grade has 35 unique instances
Column home_ownership has 4 unique instances
Column verification_status has 3 unique instances
Column issue_d has 12 unique instances
Column loan_status has 7 unique instances
Column pymnt_plan has 2 unique instances
Column purpose has 13 unique instances
Column title has 12 unique instances
Column addr_state has 50 unique instances
Column initial_list_status has 2 unique instances
Column last_pymnt_d has 15 unique instances
Column last_credit_pull_d has 16 unique instances
Column application_type has 2 unique instances
Column hardship_flag has 2 unique instances
Column disbursement_method has 2 unique instances
Column debt_settlement_flag has 2 unique instances

In [130]:
train.drop(["issue_d","last_credit_pull_d","last_pymnt_d","loan_status","issue_d"],axis=1,inplace=True)

In [131]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495242 entries, 0 to 128411
Data columns (total 100 columns):
loan_amnt                     495242 non-null float64
funded_amnt                   495242 non-null float64
funded_amnt_inv               495242 non-null float64
term                          495242 non-null object
int_rate                      495242 non-null float64
installment                   495242 non-null float64
grade                         495242 non-null object
sub_grade                     495242 non-null object
home_ownership                495242 non-null object
annual_inc                    495242 non-null float64
verification_status           495242 non-null object
pymnt_plan                    495242 non-null object
purpose                       495242 non-null object
title                         495242 non-null object
addr_state                    495242 non-null object
dti                           494110 non-null float64
delinq_2yrs                   495242 non-null float64
inq_last_6mths                495242 non-null float64
open_acc                      495242 non-null float64
pub_rec                       495242 non-null float64
revol_bal                     495242 non-null float64
total_acc                     495242 non-null float64
initial_list_status           495242 non-null object
out_prncp                     495242 non-null float64
out_prncp_inv                 495242 non-null float64
total_pymnt                   495242 non-null float64
total_pymnt_inv               495242 non-null float64
total_rec_prncp               495242 non-null float64
total_rec_int                 495242 non-null float64
total_rec_late_fee            495242 non-null float64
recoveries                    495242 non-null float64
collection_recovery_fee       495242 non-null float64
last_pymnt_amnt               495242 non-null float64
collections_12_mths_ex_med    495242 non-null float64
policy_code                   495242 non-null float64
application_type              495242 non-null object
acc_now_delinq                495242 non-null float64
tot_coll_amt                  495242 non-null float64
tot_cur_bal                   495242 non-null float64
open_acc_6m                   495242 non-null float64
open_act_il                   495242 non-null float64
open_il_12m                   495242 non-null float64
open_il_24m                   495242 non-null float64
mths_since_rcnt_il            476832 non-null float64
total_bal_il                  495242 non-null float64
il_util                       414418 non-null float64
open_rv_12m                   495242 non-null float64
open_rv_24m                   495242 non-null float64
max_bal_bc                    495242 non-null float64
all_util                      495113 non-null float64
total_rev_hi_lim              495242 non-null float64
inq_fi                        495242 non-null float64
total_cu_tl                   495242 non-null float64
inq_last_12m                  495242 non-null float64
acc_open_past_24mths          495242 non-null float64
avg_cur_bal                   495202 non-null float64
bc_open_to_buy                488654 non-null float64
bc_util                       488439 non-null float64
chargeoff_within_12_mths      495242 non-null float64
delinq_amnt                   495242 non-null float64
mo_sin_old_il_acct            476832 non-null float64
mo_sin_old_rev_tl_op          495242 non-null float64
mo_sin_rcnt_rev_tl_op         495242 non-null float64
mo_sin_rcnt_tl                495242 non-null float64
mort_acc                      495242 non-null float64
mths_since_recent_bc          489044 non-null float64
mths_since_recent_inq         433937 non-null float64
num_accts_ever_120_pd         495242 non-null float64
num_actv_bc_tl                495242 non-null float64
num_actv_rev_tl               495242 non-null float64
num_bc_sats                   495242 non-null float64
num_bc_tl                     495242 non-null float64
num_il_tl                     495242 non-null float64
num_op_rev_tl                 495242 non-null float64
num_rev_accts                 495242 non-null float64
num_rev_tl_bal_gt_0           495242 non-null float64
num_sats                      495242 non-null float64
num_tl_120dpd_2m              482838 non-null float64
num_tl_30dpd                  495242 non-null float64
num_tl_90g_dpd_24m            495242 non-null float64
num_tl_op_past_12m            495242 non-null float64
pct_tl_nvr_dlq                495240 non-null float64
percent_bc_gt_75              488646 non-null float64
pub_rec_bankruptcies          495242 non-null float64
tax_liens                     495242 non-null float64
tot_hi_cred_lim               495242 non-null float64
total_bal_ex_mort             495242 non-null float64
total_bc_limit                495242 non-null float64
total_il_high_credit_limit    495242 non-null float64
hardship_flag                 495242 non-null object
disbursement_method           495242 non-null object
debt_settlement_flag          495242 non-null object
last_credit_pull_d_month      495242 non-null int64
last_credit_pull_d_year       495242 non-null int64
loan_month                    495242 non-null int64
loan_year                     495242 non-null int64
loan_last_start               495242 non-null int64
label                         495242 non-null int64
long_year                     495242 non-null int64
work_long                     495242 non-null int64
dtypes: float64(78), int64(8), object(14)
memory usage: 391.6+ MB

In [132]:
for col in train.select_dtypes(include=['object']).columns:
    train.

Column term has 2 unique instances
Column grade has 7 unique instances
Column sub_grade has 35 unique instances
Column home_ownership has 4 unique instances
Column verification_status has 3 unique instances
Column pymnt_plan has 2 unique instances
Column purpose has 13 unique instances
Column title has 12 unique instances
Column addr_state has 50 unique instances
Column initial_list_status has 2 unique instances
Column application_type has 2 unique instances
Column hardship_flag has 2 unique instances
Column disbursement_method has 2 unique instances
Column debt_settlement_flag has 2 unique instances

In [ ]:
train.to_csv("tmp.csv")